# Files and folders relating to R and RStudio environment
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Folders relating to package development and building
/doc/
/Meta/

# Files and folders relating to raw databases, CSV final datasets and testing
# resources
/data-raw/merge_USIS_raw_datasets/additional/*
/data-raw/merge_USIS_raw_datasets/IMIS/*
/data-raw/merge_USIS_raw_datasets/OIS/*
/data/csv/*
/tests/res/*

# Intermediate files to create documentation
/vignettes/USIS_database/USIS_relational_schema.pdf

# Temporary files and folders
/tmp/

# Exceptions to keep folder structure (empty folders)
!/data-raw/merge_USIS_raw_datasets/additional/.gitkeep
!/data-raw/merge_USIS_raw_datasets/IMIS/.gitkeep
!/data-raw/merge_USIS_raw_datasets/OIS/.gitkeep
!/data/csv/.gitkeep
!/tests/res/.gitkeep
